<h1><%= @post.title %></h1>
<div>
  Subreddits:
<% @post.subs.each do |sub| %>
   <%= link_to sub.title, sub_url(sub) %>
<% end %>
</div>

<% unless @post.content.nil? %>
  <p><%= @post.content %></p>
<% end %>

<% unless @post.url.nil? || @post.url.empty? %>
<%= link_to "(#{@post.url})", @post.url %></p>
<% end %>
<% if @all_comments.any? %>
<ul class="list-unstyled comments">
  <% @all_comments[nil].each do |top_comment| %>
      <li class="comments"><%= render "comment", comment: top_comment %></li>
    <% end %>
</ul>
<% end %>

<% if current_user %>
  <div class="input-group">
    <%= form_for(Comment.new, url: comments_url, method: :create ) do |f| %>
    Comment: <%= f.text_area :content %><br />

    <%= hidden_field_tag :commenter_id, current_user.id %>
    <%= hidden_field_tag :post_id, params[:id] %>
    <%= f.submit "New Comment" %>
    <% end %>
  </div>
<% end %>



<%= button_to "Edit the Post", edit_post_url(@post), method: :get, class: "btn btn-default" %>
